<div>
    <h2 data-translate="crmisticApp.etudiant.home.title">Etudiants</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="etudiant.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="crmisticApp.etudiant.home.createLabel">
                        Create new Etudiant
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'crmisticApp.etudiant.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nom"><span data-translate="crmisticApp.etudiant.nom">Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prenom"><span data-translate="crmisticApp.etudiant.prenom">Prenom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mail"><span data-translate="crmisticApp.etudiant.mail">Mail</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sexe"><span data-translate="crmisticApp.etudiant.sexe">Sexe</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numEtudiant"><span data-translate="crmisticApp.etudiant.numEtudiant">Num Etudiant</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- on ne peut pas trier par ordre dans ces trois dernières colonnes car on récupère plusieurs valeurs dans chaque -->
                    <th><span data-translate="crmisticApp.etudiant.promotion">Promotion</span></th>
                    <th><span data-translate="crmisticApp.etudiant.filiere">Filiere</span></th>
                    <th><span data-translate="crmisticApp.etudiant.diplome">Diplome</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="etudiant in vm.etudiants track by etudiant.id">
                    <td><a ui-sref="etudiant-detail({id:etudiant.id})">{{etudiant.id}}</a></td>
                    <td>{{etudiant.nom}}</td>
                    <td>{{etudiant.prenom}}</td>
                    <td>{{etudiant.mail}}</td>
                    <td data-translate="{{'crmisticApp.Sexe.' + etudiant.sexe}}">{{etudiant.sexe}}</td>
                    <td>{{etudiant.numEtudiant}}</td>
                    <td>
                        <span ng-repeat="promotion in etudiant.promotions track by promotion.id">
                            <a ui-sref="promotion-detail({id: promotion.id})">{{promotion.annee | date:'yyyy'}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="promotion in etudiant.promotions">
                            <a ui-sref="filiere-detail({id: promotion.filiere.id})">{{promotion.annee | date:'yyyy'}} - {{promotion.filiere.niveau}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="promotion in etudiant.promotions">
                            <a ui-sref="diplome-detail({id: promotion.filiere.diplome.id})">{{promotion.annee | date:'yyyy'}} - {{promotion.filiere.niveau}} {{promotion.filiere.diplome.nom}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="etudiant-detail({id:etudiant.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="etudiant.edit({id:etudiant.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="etudiant.delete({id:etudiant.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
