<div>
    <h2 data-translate="crmisticApp.entreprises.home.title">Exploration - Entreprises</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="container-fluid map-filters" id="map-filters">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 no-padding-left">
                <div class="form-group">
                    <label class="control-label" data-translate="crmisticApp.entreprises.dateDebut" for="field_dateDebut">Date Debut</label>
                    <div class="input-group">
                        <input enable-time="false" id="field_dateDebut" type="text" class="form-control" name="dateDebut" datetime-picker="mediumDate" ng-model="vm.datepickerDebut" is-open="vm.datePickerOpenStatus.dateDebut" ng-change="vm.inputFilter()" ng-click="vm.openCalendar('dateDebut')" readonly
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 no-padding-left">
                <div class="form-group">
                    <label class="control-label" data-translate="crmisticApp.entreprises.dateFin" for="field_dateFin">Date Fin</label>
                    <div class="input-group">
                        <input enable-time="false" id="field_dateFin" type="text" class="form-control" name="dateFin" datetime-picker="mediumDate" ng-model="vm.datepickerFin" is-open="vm.datePickerOpenStatus.dateFin" ng-change="vm.inputFilter()" ng-click="vm.openCalendar('dateFin')" readonly
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 no-padding-left">
                <div class="form-group">
                    <label class="control-label" data-translate="crmisticApp.entreprises.nbEtudiants" for="field_nbEtudiants">Nb. Etudiants</label>
                    <input type="number" class="form-control" name="nbEtudiants" id="field_nbEtudiants"
                           ng-model="vm.nbEtudiantsMin" ng-change="vm.inputFilter()" min="1"
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<section id="map">
    <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
         ui-event="{'map-click': 'openMarkerInfo(marker)'}">
    </div>

    <div ui-map-info-window="myInfoWindow">
        <span><strong>{{ currentSite[0].entrepriseSite.nom }}</strong></span>
        <br />
        <span>{{ currentSite[0].adresse }}</span>
        <br />
        <span>{{ currentSite[0].codePostal }} {{ currentSite[0].ville }}</span>
        <br /><br />
        <span data-translate="crmisticApp.entreprises.map.infoWindow.description" translate-values="{nbEtudiants: '{{currentLabel}}'}">a reçu {{ currentLabel }} stagiaire(s)</span>
    </div>

    <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
</section>

<div class="table-responsive">
    <table class="jh-table table table-striped">
        <thead>
        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
            <th jh-sort-by="lieuStage.entrepriseSite.nom"><span data-translate="crmisticApp.entreprises.entreprise">Entreprise</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="lieuStage.adresse"><span data-translate="crmisticApp.entreprises.adresse">Adresse</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="lieuStage.codePostal"><span data-translate="crmisticApp.entreprises.codePostal">Code Postal</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="lieuStage.ville"><span data-translate="crmisticApp.entreprises.ville">Ville</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="lieuStage.pays"><span data-translate="crmisticApp.entreprises.pays">Pays</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="nbEtudiants"><span data-translate="crmisticApp.entreprises.nbEtudiants">Nb. Etudiants Minimum</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="site in vm.nbEtudiants" ng-if="site[1] >= vm.nbEtudiantsMin">
            <td><a ui-sref="entreprise-detail({id:site[0].entrepriseSite.id})">{{site[0].entrepriseSite.nom}}</a></td>
            <td><a ui-sref="site-detail({id:site[0].id})">{{site[0].adresse}}</a></td>
            <td>{{site[0].codePostal}}</td>
            <td>{{site[0].ville}}</td>
            <td>{{site[0].pays}}</td>
            <td>{{site[1]}}</td>

            <td class="text-right">
                <!-- completer/modifier rediriger vers la map -->
                <div class="btn-group flex-btn-group-container">
                    <button ng-click="goToSiteOnMap(site)"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-globe"></span>
                        <span class="hidden-xs hidden-sm" data-translate="crmisticApp.entreprises.action.goToSiteOnMap"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>
